@font-face {
	font-family:"eurofurence light";
	src:url("../eurofurence_light_regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"eurofurence regular";
	src:url("../eurofurence_regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

body {
    background-image:url(../img/body_bg.gif);
    background-color:#f4f4f4;
    padding-top: 63px;
}

.navbar.navbar-fixed-top .navbar-inner.my_navbar_inner {
    background: url("../img/blue_header.jpg") center no-repeat;
    height: 62px;
}

.my_brand a {
    color: #fff;
    font-family: 'eurofurence light';
    font-size: 40px;
}

.my_brand a:hover {
    color: #b3b3b3;
    text-decoration: none;
}

.my_navbar_inner ul.my_nav li a {
    color: #fff;
}

.my_navbar_inner ul.my_nav li a:hover {
    color: #c2c2c2;
}

ul.nav.my_nav {
    float: right;
    /*margin-top: 13px;*/
}

.page-header.my_header {
    margin: 64px 0 30px;
}

.my_navbar_inner .container {
    margin-top: 10px;
}

.top_analitic {
    background: url("../img/block_bg.gif");
    padding: 20px 0;
}

.top_analitic h5 {
    color: #fff;
}

.top_analitic p {
    color: #fff;
    padding:0 5px;
}

.rights {
    color: #fff;
    padding-top:20px;
}

.forward a {
    color: #fff;
    font-family: 'eurofurence light';
    font-size: 20px;
}

.forward a:hover {
    color: #b3b3b3;
    text-decoration: none;
}

/* new style football */
._news_all_element {
    padding: 10px 0;
    margin: 10px 0;
}

a._news_all_link {
    float: right;
    padding: 10px;
    background: #333333;
    color: #eeeeee;
    font-family: 'eurofurence light';
    font-size: 20px;
}

a._news_all_link:hover {
    color: #b3b3b3;
    text-decoration: none;
}

.footer {
    background: url("../img/blue_header.jpg") center no-repeat;
    min-height: 42px;
    padding-top: 25px;
}

.footer p, .footer a {
    color: #fff;
    padding: 5px;
}

.header {
    margin-top: 20px;
}

.block_about {
    margin-top: 20px;
}

a.my_btn {
    background: url("../img/button_big.jpg") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    padding:12px 10px;
    color: #F1F1F1;
    text-transform: uppercase;
    border: 1px solid #767676;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-size: 14px;
    font-family: 'eurofurence light';
    font-size: 20px;
}

a.my_btn:hover {
    background: url("../img/button_big.jpg") no-repeat;
    -moz-background-size: 160%; /* Firefox 3.6+ */
    -webkit-background-size: 160%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 160%; /* Opera 9.6+ */
    background-size: 160%; /* Современные браузеры */
    text-decoration: none;
    color: #fff;
    border: 1px solid #9F9F9F;
}

#calendar {
    margin-bottom: 20px;
}

#slogan {
    background: #E7E7E7;
    padding: 12px 0;
    border-bottom: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
}

.register_button {
    margin-top: 7px!important;
}

.slogan_text p {
    text-transform: uppercase;
    font-family: 'eurofurence light';
    font-size: 30px;
    color: #606060;
    text-align: right;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

.login {
    text-align: right;
}

.baner img {
    border-bottom: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
    border-left: 1px solid #B6B6B6;
}

.slogan_img img {
    position: absolute;
    margin-top: -34px;
    width: 270px;
    border-top: 1px solid #B6B6B6;
    border-right: 1px solid #B6B6B6;
    border-left: 1px solid #B6B6B6;
}

.slogan_inner {
    float: right;
}

.games_list {
    /*background: #F5F4F4;*/
}

.game_in_list {
    border-top: 1px solid #b3b3b3;
    padding:10px 10px 0px 10px;
    float: left;
    width: 100%;
}

.game_in_list.first {
    border: none;
    padding-bottom: 1px;
}

.game_left {
    float: left;
    width: 60%;
}

.game_right {
    float: left;
    width: 40%;
}

.game_right a {
    /*background: url("../img/button_big.jpg") -50px no-repeat;*/
    background: url("../img/right_arrow.png") 90px no-repeat;
    -moz-background-size: 30%;
    -webkit-background-size: 30%;
    -o-background-size: 30%;
    background-size: 30%;
    padding:10px 50px 10px 0;
    color: #000;
    text-transform: uppercase;
    /*border: 1px solid #767676;*/
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    /*font-size: 14px;*/
    line-height: 60px;
    border:none;
}

.game_right a:hover {
    background: url("../img/right_arrow.png") 100px no-repeat;
    -moz-background-size: 30%;
    -webkit-background-size: 30%;
    -o-background-size: 30%;
    background-size: 30%;
    /*background: url("../img/button_big.jpg") no-repeat;*/
    /*-moz-background-size: 220%; *//* Firefox 3.6+ */
    /*-webkit-background-size: 220%; *//* Safari 3.1+ и Chrome 4.0+ */
    /*-o-background-size: 220%; *//* Opera 9.6+ */
    /*background-size: 260%; *//* Современные браузеры */
    text-decoration: none;
    color: #000;
    /*border: 1px solid #9F9F9F;*/
}

.sport_name {
    color: green;
    text-transform: uppercase;
}

.sport_date {
    font-style: italic;
    font-size: 12px;
}

.sport_command {
    margin-top: 20px;
    margin-right: 5px;
}

.menu_right {
    background: url("../img/menu_bg.jpg") no-repeat;
    padding: 180px 0 20px 20px;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 264px;
}

.menu_right a {
    color: #fff;
    font-family: 'eurofurence light';
    font-size: 25px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.menu_right a:hover {
    color: #e8e8e8;
    text-decoration: none;
    padding-left: 5px;
}

.menu_right h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'eurofurence light';
}

.menu_right ul li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #CFCFCF;
    margin-right: 50px;
}

.menu_right ul {
    margin-left: 0px;
}

a._news_all_name h3{
    font-family: 'eurofurence light';
}

.auth {
    text-align: right;
}

.auth a {
    padding: 5px 0;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #6290C2;
}

.auth a:hover {
    text-decoration: none;
    border-bottom: 1px solid #406286;
}

.statist_name {
    font-size: 25px;
    font-family: 'eurofurence light';
}

.statist_main {
    margin-top: 30px;
}

.statist_middle {
    min-height: 150px;
}

.statist_nickname {
    color: green;
    font-size: 25px;
    font-family: 'eurofurence';
    margin-left: 20px;
}

.statist_top {
    margin-bottom: 10px;
}

.statist_right {
    background: #2b9d66;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.statist_wrong {
    background: #a80000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.statist_bottom {
    text-align: right;
}

/*темизация календаря*/

.fc-content a:hover {
    color: #fff;
}

/*fancybox iframe*/

.fancybox-iframe body {
    padding: 0;
}

/*forecast*/
.forecast {
    margin-top: 30px;
}