{% extends 'base.html' %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block calendar_js %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block slogan %}
            <div id="slogan">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span12 slogan_text">
                                    <div class="slogan_inner">
                                        <p>Ставьте на верный результат</p>
                                        <p class="register_button">
                                            <a href="/accounts/register/" class="my_btn" style="margin-right: 5px;">Зарегистрироваться</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="game_detail">
        <div class="game_date">
            {{ game.date }}
        </div>
        <div class="game_sport">
            {{ game.sport }}
        </div>
        <div class="game_team">
            <span>{{ game.team1 }}</span>
            <span> VS </span>
            <span>{{ game.team2 }}</span>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}