{% extends 'base.html' %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block calendar_js %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block share %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="game_detail">
        <div class="game_date">
            {{ game.date }}
        </div>
        <div class="game_sport">
            {{ game.sport }}
        </div>
        <div class="game_team">
            <span>{{ game.team1 }}</span>
            <span> VS </span>
            <span>{{ game.team2 }}</span>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}