{% load thumbnail %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        {% for slide in slides %}
            <div class="item {% if slide == slides|first %}active{% endif %}">
                {% thumbnail slide.img "490x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                <div class="container">
                    <div class="carousel-caption">
                        <h4><a href="{{ slide.url }}">{{ slide.title }}</a></h4>
                        <p>{{ slide.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>
