{% extends 'base.html' %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block content %}
    <div class="row _news_all">
        <div class="span8">
        {% for new in news %}
            <div class="row _news_all_element">
                {% thumbnail new.image "250x150" crop="center" as im %}
                    <img class="_category-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация" align="left" vspace="5" hspace="5">
                {% endthumbnail %}
                <a class="_news_all_name" href="/new/{{ new.pk }}"><h3>{{ new.name }}</h3></a>
                <p class="_news_all_date">{{ new.date }}</p>
                <p class="_news_all_subtext">{{ new.subtext }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}