{% extends 'base.html' %}
{% load thumbnail %}
{% load flatblock_tags %}
{% load staticfiles %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span9 _news_all">
        {% for new in news %}
            <div class="row _news_all_element">
                <a class="_news_all_name" href="/new/{{ new.pk }}"><h3>{{ new.name }}</h3></a>
                <p class="_news_all_date">{{ new.date }}</p>
                {% thumbnail new.image "250x150" crop="center" as im %}
                    <img class="_category-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация" align="left" vspace="5" hspace="5">
                {% endthumbnail %}
                <p class="news_all_body">{{ new.text|removetags:"img"|truncatewords:"100"|safe }}</p>
                <a class="_news_all_link" href="/new/{{ new.pk }}">Подробнее</a>
            </div>
            <hr>
        {% endfor %}

        {% if jobs_all_pages != 0 %}
            <div class="pagination">
                <p class="show">
                    {% if news.has_previous %}
                        <a class="show_by" href="?page=1">Первая</a>
                        ←<a class="show_by" href="?page={{ news.previous_page_number }}">Предыдущая</a>
                    {% endif %}
                    Всего позиций: {{ news_len }}. Страница: {{ news.number }} из {{ news.paginator.num_pages }}.
                    {% if news.has_next %}
                        <a class="show_by" href="?page={{ news.next_page_number }}&show={{ show }}">Следующая</a>→
                        <a class="show_by" href="?page={{ news_all_pages }}&show={{ show }}">Последняя</a>
                    {% endif %}
                </p>
            </div>
        {% endif %}
        </div>

        <div class="span3 baner">
            <div class="menu_right">
                {% flatblock 'block_menu' %}
            </div>
        </div>
    </div>
{% endblock %}