{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load flatblock_tags %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Спортивные ставки</title>
        <link href="{% static 'theme/css/global.css' %}" rel="stylesheet">
        <link href="{% static 'libraries/calendar/fullcalendar.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
{#        {% bootstrap_stylesheet_tag %}#}
{#        {% bootstrap_stylesheet_tag "responsive" %}#}
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{% static 'libraries/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'bootstrap/js/cariusel.js' %}" type="text/javascript"></script>
{#        {% bootstrap_javascript_tag %}#}
        <script type="text/javascript" src="{% static 'libraries/calendar/jquery-ui.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'libraries/calendar/fullcalendar.js' %}"></script>
        <link rel="stylesheet" href="{% static 'libraries/fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
        <script type="text/javascript" src="{% static 'libraries/fancybox/source/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox();

                $("a.fc-event").fancybox({
                    'padding'           : 50,
                    'width'             : '650px',
                    'height'            : '700px',
                    'autoScale'     	: false,
                    'transitionIn'		: 'none',
                    'transitionOut'		: 'none',
                    'type'				: 'iframe'
                });

                $("a.popup").fancybox({
                    'padding'           : 50,
                    'width'             : '650px',
                    'height'            : '700px',
                    'autoScale'     	: false,
                    'transitionIn'		: 'none',
                    'transitionOut'		: 'none',
                    'type'				: 'iframe'
                });
            });
        </script>
        {% block calendar_js %}
        {% endblock %}
    </head>
    <body>

        <!-- меню -->
        {% block menu %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner my_navbar_inner">
                    <div class="container">
                        <div class="brand my_brand"><a href="/">NewTopBet.ru</a></div>
                        <ul class="nav my_nav">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/news">Новости</a></li>
                            <li><a href="/games">Игры</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- header -->
        {% block header %}
            <div class="container header">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span7">
                                {% block slider %}
                                    {% include 'slider.html' %}
                                {% endblock %}
                            </div>
                            <div class="span5">
                                <div class="row">
                                    <div class="span5 auth">
                                        <span><img style="width:15px; padding-bottom: 5px;" src="{% static 'theme/img/star.png' %}" alt=""/></span>
                                        {% block auth %}
                                            {% if user.is_authenticated %}
                                                <a  href="/accounts/profile/">Личный кабинет</a>
                                                <a href="/accounts/logout/">Выйти</a>
                                            {% else %}
                                                <a  href="/accounts/login/">Войти</a>
                                                <a href="/accounts/register/">Зарегистрироваться</a>
                                            {% endif %}
                                        {% endblock %}
                                    </div>
                                    <div class="span5">
                                        <div class="block_about">
                                            {% flatblock "block_main_top" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block slogan %}
            <div id="slogan">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span3 slogan_img">
{#                                    <img src="{% static 'theme/img/baner_new1.jpg' %}" alt=""/>#}
                                    <!--социальные кнопки-->
                                    <div class="share">
                                        <script type="text/javascript">(function() {
                                          if (window.pluso)if (typeof window.pluso.start == "function") return;
                                          if (window.ifpluso==undefined) { window.ifpluso = 1;
                                            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                                            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                                            var h=d[g]('body')[0];
                                            h.appendChild(s);
                                          }})();</script>
                                        <div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,pinterest,google"></div>
                                    </div>
                                    <!--конец социальным кнопкам-->
                                </div>
                                <div class="span9 slogan_text">
                                    <div class="slogan_inner">
                                        <p>Ставьте на верный результат</p>
                                        <p class="register_button">
                                            <a href="/accounts/register/" class="my_btn">Зарегистрироваться</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!--middle content-->
        <div class="middle_content">
            <div class="container">
                <div class="row">
{#                    <div class="span12 login">#}
{#                        {% block auth %}#}
{#                            {% if user.is_authenticated %}#}
{#                                <a href="/accounts/logout/">LogOut</a>#}
{#                            {% else %}#}
{#                                <a href="/accounts/login/">LogIn</a>#}
{#                                <a href="/accounts/register/">Reg.</a>#}
{#                            {% endif %}#}
{#                        {% endblock %}#}
{#                    </div>#}
                    <div class="span12">
                        {% block content %}
                            <div class="row">
                                <div class="span5">
                                    <div class="games_list">
                                        {% for game in games %}
                                            <div class="game_in_list{% if game == games|first %} first{% endif %}">
                                                <div class="game_left">
                                                    <span class="sport_name">{{game.sport}}</span>
                                                    <div class="sport_command">{{  game.team1 }} - {{ game.team2 }}</div>
                                                </div>
                                                <div class="game_right">
                                                    <span class="sport_date">{{ game.date }}</span>
                                                    <a class="popup" href="/game/{{ game.pk }}">подробнее</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="span4 statist_main">
                                    {% for supernumerary in supernumeraries %}
                                        <div class="statist_top">
                                            <span class="statist_name">{{ supernumerary.fio }}</span>
                                            <span class="statist_nickname">{{ supernumerary.username }}</span>
                                        </div>
                                        <div class="statist_middle">
                                            {% thumbnail supernumerary.photo "150x150" crop="center" as im %}
                                                <img class="_category-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация" align="left" vspace="5" hspace="5">
                                            {% endthumbnail %}
                                            <p>{{ supernumerary.about|removetags:"img"|truncatewords:"25"|safe }}</p>
                                        </div>
                                        <div class="statist_bottom">
                                            <span>Краткая статистика:</span>
                                            <span class="statist_right">{{ supernumerary.right }}</span>
                                            <span class="statist_wrong">{{ supernumerary.wrong }}</span>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                                <div class="span3 baner">
                                    <div class="menu_right">
                                        <h3>Меню</h3>
                                        {% flatblock 'block_menu' %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                    <div class="span12">
                        {% block calendar %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        {% block footer %}
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span9">
                                    <p>Все права защищены @2013</p>
                                </div>
                                <div class="span3 forward">
                                    <a href="http://forward70.ru"> Создание сайтов Forward</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>
</html>
