{% extends 'base.html' %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block chart %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      var graphdata = {% autoescape off %}{{ graph|safe }}{% endautoescape %};
      graphdata.unshift(['Дата', 'Верные прогнозы', 'Неверные прогнозы']);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            graphdata
        );
        var options = {
          title: 'Успешность статиста'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

 <!-- header -->
{% block header %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="span6 _new">
        <h3 class="statist_name">{{ supernumerary.fio }}</h3>
        <div class="statist_middle">
            {% thumbnail supernumerary.photo "150x150" crop="center" as im %}
                <img class="_category-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация" align="left" vspace="5" hspace="5">
            {% endthumbnail %}
            <p>{{ supernumerary.about }}</p>
        </div>
        <div class="statist_bottom">
            <span>Краткая статистика:</span>
            <span class="statist_right">{{ supernumerary.right_forecasts }}</span>
            <span class="statist_wrong">{{ supernumerary.wrong_forecasts }}</span>
        </div>
        <hr>
    </div>
    <div class="span6">
        <div id="chart_div" style="margin-top: 60px;"></div>
    </div>
</div>

{% endblock %}