{% extends 'base.html' %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block slider %}
{% endblock %}

{% block flot %}
<script type="text/javascript">
	$(function() {

		var d2 = [[20, 3], [21, 8], [22, 10], [23, 13], [24, 21]];
        var d3 = [[20, 10], [21, 7], [22, 6], [23, 3], [24, 1]];
		$.plot("#placeholder", [ d2, d3 ]);

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

</script>
{% endblock %}

{% block content %}
    <div class="span12">
    <div class="row">
        <div class="span9 _new">
            <h3>{{ supernumerary.username }}</h3>
            {% thumbnail supernumerary.photo "350x250" crop="center" as im %}
                <img class="_new_img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация" align="left" vspace="5" hspace="5">
            {% endthumbnail %}
            <p class="_new_date">{{ supernumerary.right }}</p>
            <p class="_new_date">{{ supernumerary.wrong }}</p>
            {% autoescape off %}<p>{{ new.text }}</p>{% endautoescape %}
        </div>
        </div>
    </div>
    <div id="header">
		<h2>Basic Usage</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<p>You don't have to do much to get an attractive plot.  Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.</p>

		<p>The axes are automatically scaled.</p>

	</div>

	<div id="footer">
		Copyright &copy; 2007 - 2013 IOLA and Ole Laursen
	</div>

    </div>
{% endblock %}